<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>古今在线-欢迎您的到来-登录中...</title>
	<% include  ./template/commonCss.ejs %>
	<link href="<%=resUrl%>/css/login.css" rel="stylesheet" type="text/css" />
	<% include ./template/commonJs.ejs %>
</head>

<body>
	<div class="login-frame">
		<div class="logo">
			<img src="<%=resUrl%>/img/login/logo.png" width="100%" height="100%"/>
		</div>
		<div class="logo-title">
			
		</div>
	</div>
	<div class="login-ele">
		<img src="<%=resUrl%>/img/login/login-ele.png" width="100%" height="100%"/>
	</div>
	<div class="login-bg">
		<img src="<%=resUrl%>/img/login/login-bg.png" width="100%" height="100%"/>
	</div>
	<div class="footer">Copyright©2018   技术支持：重庆雨霏科技有限公司</div>
	<div class="form">
		<form class="layui-form" action="" lay-filter="loginform">
			<div class="title">用户登录</div>
			<div class="row">
				<i class="layui-icon icon-wode"></i>
				<input type="text" name="username" lay-verify="required" placeholder="请输入用户名" autocomplete="off"/>
			</div>
			<div class="row">
				<i class="layui-icon icon-mimashezhi"></i>
				<input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off"/>
			</div>
			<div class="layui-form-item" pane="">
				<div class="layui-input-block">
					<input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
				</div>
			</div>
			<button class="layui-btn layui-btn-fluid" lay-submit lay-filter="signin">登录</button>
		</form>
	</div>
	<script type="text/javascript" src="<%=resUrl%>/js/login.js"></script>
</body>

</html>