<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>重庆信用中心-欢迎您的到来-管理后台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<% include  ./template/commonCss.ejs %>
	<% include ./template/commonJs.ejs %>
	<link type="text/css" href="<%=resUrl%>/lib/jscrollpane/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<script type="text/javascript" src="<%=resUrl%>/lib/jscrollpane/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="<%=resUrl%>/lib/jscrollpane/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="<%=resUrl%>/lib/mock.js"></script>
	<link href="<%=resUrl%>/css/panel.css" rel="stylesheet" type="text/css" />
	<link href="/css/skin/<%=skinCss%>.css" id="skinCss" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
		<div class="logo"></div>
		<div class="logo-title">
		</div>
		<div class="layui-scroll h-scroll horizontal-only">
			<ul class="layui-nav" lay-filter="">
				<!--
				<li class="layui-nav-item"><a href="javascript:void(0)">首页</a></li>
				<li class="layui-nav-item layui-this"><a href="javascript:void(0)">信用查询</a></li>
				<li class="layui-nav-item"><a href="javascript:void(0)">联合奖惩</a></li>
				<li class="layui-nav-item">
					<a href="javascript:void(0)">在线填报</a>
				</li>
				<li class="layui-nav-item"><a href="javascript:void(0)">数据治理</a></li>
				<li class="layui-nav-item"><a href="javascript:void(0)">绩效考核</a></li>
				<li class="layui-nav-item"><a href="javascript:void(0)">工作动态</a></li>
				<li class="layui-nav-item"><a href="javascript:void(0)">信用共享</a></li>
				<li class="layui-nav-item"><a href="javascript:void(0)">法规标准</a></li>
				-->
			</ul>
		</div>
		<div class="person-frame layui-nav" style="padding:0">
			<div class="item tools">
				<i class="layui-icon icon-weibiaoti-_dingwei-xian" title="全屏" id="fullScreen" style="font-size: 22px;"></i>
				<i class="layui-nav-item layui-icon icon-jiaoxing" title="消息" id="msg" style="font-size: 20px;">
					<span class="layui-badge">6</span>
					<dl class="layui-nav-child"> <!-- 二级菜单 -->
						<div class="title">您有<font>0</font>条消息</div>
						<dd><a href="">查看所有消息</a></dd>
					</dl>
				</i>
				<i class="layui-icon icon-icon-test5" title="皮肤" id="skin" style="font-size: 18px;" data-method="offset" data-type="auto"></i> 
			</div>
			<div class="item person layui-nav-item">
				<img src="<%=resUrl%>/img/panel/avater-1.png"/>
				<div class="name"></div>
				<dl class="layui-nav-child"> <!-- 二级菜单 -->
					<dd><a href="javascript:void(0)"><i class="layui-icon icon-wode"></i>个人中心</a></dd>
					<dd><a href="javascript:void(0)" id="updatepwd"><i class="layui-icon icon-bianji1"></i>修改密码</a></dd>
					<dd><a href="javascript:void(0)" id="signout"><i class="layui-icon icon-shibai"></i>退出登录</a></dd>
				</dl>
			</div>
		</div>
	</div>
	<div id="l-slide">
		<div class="switch layui-icon icon-jiantou_yemian_xiangzuo_o" state="on" id="switch">

		</div>
		<div class="search">
			<input type="text" class="key">
			<div class="btn">
				<i class="layui-icon icon-sousuo" style="font-size:20px; color: #666666;"></i>
			</div>
			<div class="auto-height"></div>
		</div>
		<div class="l-menus-frame v-scroll">
			<ul class="layui-nav layui-nav-tree" lay-filter="test">
			</ul>
		</div>
	</div>
	<div id="m-control">
		<div class="layui-tab" lay-allowClose="true" lay-filter="m-control">
			<ul class="layui-tab-title">
			</ul>
			<div class="layui-tab-content">
			</div>
		</div>
	</div>
	<div id="outer-frame">
		<iframe src="" width="100%" height="100%"></iframe>
	</div>
	<div id="selectSkin" style="display:none;">
		<div class="item">
			<img src="<%=resUrl%>/img/panel/navy-blue-skin.jpg"/>
			<div class="title-bg"></div>
			<div class="title">深蓝色(默认皮肤)</div>
			<div class="layer"></div>
		</div>
		<div class="item" skin="brown">
			<img src="<%=resUrl%>/img/panel/brown-skin.jpg"/>
			<div class="title-bg"></div>
			<div class="title">棕色</div>
			<div class="layer"></div>
		</div>
		<div class="auto-height"></div>
	</div>
	<div id="updatePwd" style="display:none;">
		<form class="layui-form" action="" lay-filter="updatepwdform">
			<div class="row">
				<input type="password" name="oldPassword" class="layui-input" lay-verify="required" placeholder="请输入旧密码"/>
			</div>
			<div class="row">
				<input type="password" name="newPassword" class="layui-input" lay-verify="required" placeholder="请输入新密码"/>
			</div>
			<button class="layui-btn layui-btn-fluid" lay-submit lay-filter="confirmUpdate">确认修改</button>
		</form>
	</div>
	<script type="text/javascript" src="<%=resUrl%>/js/panel.js"></script>
</body>

</html>