<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>新闻列表</title>
    <% include ../webTemplate/commonCss.ejs %>
    <link href="<%=resUrl%>/css/web/article.css" rel="stylesheet" type="text/css" />
</head>
<script>
		// var newsList= '<%-newsList || [] %>';
    // newsList=JSON.parse(newsList)
    // console.log(newsList)
	</script>
<body>
    <div class="article">
        <img src="<%=resUrl%>/img/article/1.jpeg" width="100%" height="100%"/>
        <div class="articleItems">
          <% 
          var newsList=JSON.parse(newsList||[]);
          newsList.forEach(function(item){ %>
          <div class="articleItem">
              <div class="name"><%= item.title%> </div>
              <div class="content"><%= item.description%></div>
              <div class="time"><%= item.updateDate%></div>
          </div>
            <% }); %>
        </div>
    </div>
    
</body>

</html>