<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="data-spm" content="a215s">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>俄罗斯留学</title>
    <% include ../webTemplate/commonCss.ejs %>
    <% include ../webTemplate/commonJs.ejs %>
    <link href="<%=resUrl%>/css/web/article.css" rel="stylesheet" type="text/css" />
    <script src="<%=resUrl%>/lib/template-web.js"></script>
    <script src="<%=resUrl%>/lib/better-scroll.js"></script>
    <script>
        template.defaults.rules[0].test = /<\?(#?)((?:==|=#|[=-])?)[ \t]*([\w\W]*?)[ \t]*(-?)\?>/;
    </script>
    
</head>
<body>
    <div class="main">
    <div class="occupy">&nbsp;</div>
    <div class="article"  id="article">
        <div class="nav-header">
            <a href="tel:18083028759">
            <svg t="1596421199424" class="iconlef" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2044"><path d="M701.194 460.063c0 18.55 12.35 30.899 30.9 30.899s30.899-12.35 30.899-30.9c-0.292-102.302-83.16-185.164-185.462-185.456-18.55 0-30.9 12.35-30.9 30.904 0 18.55 12.401 30.9 30.9 30.9 68.219 0.189 123.474 55.439 123.663 123.653z m123.658 0c0 18.55 12.35 30.899 30.9 30.899s30.899-12.35 30.899-30.9c0-169.983-139.131-309.114-309.115-309.114-18.55 0-30.9 12.4-30.9 30.95 0 18.555 12.401 30.905 30.9 30.905 136.008 0 247.316 111.303 247.316 247.26z m-417.295-108.18c34.028-33.977 37.105-86.554 6.2-123.654l-95.83-120.53c-30.9-40.176-89.626-46.377-129.854-15.478-3.077 3.124-6.15 3.124-6.15 6.2l-83.48 83.477c-80.354 80.354 34.027 296.714 241.156 503.793C546.637 892.78 759.87 1004.083 840.223 926.8l83.481-83.48c37.1-37.1 37.1-95.827 0-129.808l-6.154-6.2-120.581-95.826c-37.048-30.9-89.574-27.827-123.607 6.2l-52.531 52.577c-55.65-34.027-105.099-71.127-148.398-114.375-43.254-43.305-80.308-92.76-114.33-148.409l49.454-55.598z m-43.254-83.477c9.278 12.4 9.278 30.95-3.123 40.222l-68.004 71.081a32.855 32.855 0 0 0-6.149 37.105A801.89 801.89 0 0 0 423.03 599.148 801.71 801.71 0 0 0 605.358 735.15a32.86 32.86 0 0 0 37.105-6.2l71.08-71.081c12.401-12.355 27.828-12.355 40.223-3.077l120.53 98.903s3.072 0 3.072 3.072a29.88 29.88 0 0 1 0 43.305l-83.476 83.481c-40.126 40.13-231.783-61.85-414.167-241.162C197.396 463.14 98.493 268.457 138.67 228.229l86.508-86.553c12.4-9.278 34.027-9.278 43.3 6.2l95.83 120.581v-0.051z" p-id="2045"></path></svg>
            </a>
            <div class="logo">俄罗斯留学</div>
            <svg t="1596421475458" class="iconrig iconSearch" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3005"><path d="M240.776 240.872A302.952 302.952 0 0 0 157.328 512c18.048-81.912 60.48-161.952 126.576-228.096C350.048 217.736 430.088 175.328 512 157.28c-95.28-17.952-197.52 9.864-271.224 83.592z" p-id="3006"></path><path d="M959.6 802.736l-114.096-114.096a110.64 110.64 0 0 0-87-31.992c107.304-155.208 91.8-369.744-46.392-507.96-155.568-155.616-407.856-155.616-563.472 0-155.568 155.616-155.568 407.928 0 563.544 138.192 138.216 352.56 153.6 507.864 46.296-2.4 31.2 8.304 63.312 31.992 87l114.096 114.12c43.2 43.104 113.784 43.104 156.888 0 43.32-43.104 43.32-113.712 0.12-156.912zM665.84 665.84c-130.008 130.008-340.68 130.008-470.64 0-130.008-130.008-130.008-340.728 0-470.736 129.96-130.008 340.632-130.008 470.64 0 129.984 129.912 129.984 340.728 0 470.736z" p-id="3007"></path></svg>        
        </div>
        <div class="wrapper">
        <div class="articleItems" id="articleItems">
          <% 
          var newsList=JSON.parse(newsList||[]);
          newsList.forEach(function(item){ %>
            <% 
            var listImage=[];
            if(item.listImage){
                listImage=(item.listImage).split(",");
            }
            %>
            <a href="/article/detail?id=<%= item.id%>">
            <% if(item.listType == "0"){ %>
            <div class="articleItem">
              <div class="name"><%= item.title%> </div>
              <div class="content"><%= item.description%></div>
              <!-- <div class="time"><%= item.updateDate%></div> -->
           </div>
           <% } else if(item.listType == "1"){ %>
           <div class="articleItem articleType1">
               <div class="lef">
                    <div class="title"><%= item.title%> </div>
                    <!-- <div class="time"><%= item.updateDate%></div> -->
               </div><div class="rig"><img src="<%= listImage[0] + '!m600x400.'+listImage[0].split('.')[1] %>" /></div>
            </div>
            <% } else if(item.listType == "2"){ %>
            <div class="articleItem articleType2">
                    <div class="title"><%= item.title%> </div>
                    <div class="pic">
                        <%if(!listImage[0].startsWith("http")){%>
                        <img src="<%= listImage[0] + '!m750x325.'+listImage[0].split('.')[1] %>" />
                        <%}else{%>
                        <img src="<%= listImage[0]%>" />
                        <%}%>
                    </div>
            </div>
            <% } else if(item.listType == "3"){ %>
            <div class="articleItem articleType3">
                    <div class="pic">
                        <%if(!listImage[0].startsWith("http")){%>
                        <img src="<%= listImage[0] + '!m750x325.'+listImage[0].split('.')[1] %>" />
                        <%}else{%>
                        <img src="<%= listImage[0]%>" />
                        <%}%>
                        <div class="title"><%= item.title%> </div>
                    </div>
            </div>
            <% } else if(item.listType == "4"){ %>
            <div class="articleItem articleType4">
                    <div class="title"><%= item.title%> </div>
                    <div class="pic">
                        <% for(let i = 0; i < listImage.length ;i++){%>
                        <%let img = listImage[i]%>
                            <% if(i < listImage.length-1){ %>
                            <img style="width: 32.7%;margin-right: 1%" src=<%= img %> />
                            <% } else { %>
                                <img style="width: 32.6%;" src=<%= img %> />
                            <% } %>
                        <% } %>
                    </div>
            </div>
            <% } %>
            </a>
            <% }); %>
        </div>
        </div>
    </div>
    <div class="article" id="searchPage" style="display: none">
        <div class="nav-header">
            <svg t="1596432961087" class="iconlef closeIconSearh" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2606" ><path d="M254.89 512l448-448 60.417 60.33-448 448L254.89 512z m60.843-60.757l453.291 453.376-60.33 60.33-453.377-453.376 60.416-60.33z" p-id="2607"></path></svg>
            <div class="logo" id="contentTitleTo">搜索新闻</div>
        </div>
        <div class="articleSearch">
            <input class="searchcon" placeholder="搜你想看"/>
            <div class="searchBot" onclick="searchNews();">
                    <svg t="1596435414853" class="iconSearch" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4743" ><path d="M970.959996 924.671991L828.645997 782.359992c77.613999-83.175999 125.532999-194.418998 125.532999-316.902997C954.179996 208.783998 745.399998 0.005 488.727 0.005c-256.649997 0-465.451995 208.778998-465.451995 465.451995 0 92.275999 27.066 181.596998 78.312999 258.232998 10.705 16.082 32.372 20.294 48.407 9.635 16.034-10.705 20.34-32.372 9.633999-48.407-43.52-65.139999-66.535999-141.008999-66.535999-219.459998 0-218.157998 177.476998-395.634996 395.633996-395.634996 218.157998 0 395.634996 177.476998 395.634996 395.633996 0 218.157998-177.476998 395.634996-395.634996 395.634997-78.729999 0-154.785998-23.133-219.995998-66.862-15.988-10.683-37.678-6.47-48.452999 9.541-10.729 16.012-6.447 37.702 9.542 48.454 76.752999 51.478999 166.281998 78.684999 258.906997 78.684999 92.159999 0 177.919998-27.276 250.273998-73.657999l149.689998 149.689998A58.018999 58.018999 0 0 0 929.811996 1023.99999c14.895 0 29.79-5.702 41.146-17.059 22.738-22.714 22.738-59.530999 0-82.268999zM247.552003 396.697996c25.95-100.629999 109.357999-174.008998 212.502998-186.924998 19.13-2.397 32.698-19.852 30.299999-38.982-2.397-19.13-19.99-32.721-38.980999-30.299999-131.745999 16.5-238.264998 110.241999-271.404998 238.799997-4.818 18.664 6.4 37.701 25.088 42.495a34.144 34.144 0 0 0 8.727 1.117c15.546 0 29.719-10.449 33.768-26.205z" p-id="4744"></path></svg> 
            </div>
        </div>
        <div class="articleItems" id="contentTo">
        </div>
    </div>
</div>
    <script id="content" type="text/html">
        {{if (list && list.length > 0)}}
            {{each list}}
            <a href="/article/detail?id={{$value.id}}">
                    {{$value.listImage | splitImages}}
                    {{if ($value.listType == "0")}}
                    <div class="articleItem">
                        <div class="name">{{$value.title}} </div>
                        <div class="content">{{$value.description}}</div>
                        <!-- <div class="time">{{$value.updateDate}}</div> -->
                    </div>
                    {{else if ($value.listType == "1")}}
                    <div class="articleItem articleType1">
                        <div class="lef">
                             <div class="title">{{$value.title}}</div>
                             <!-- <div class="time">{{$value.updateDate}}</div> -->
                        </div><div class="rig"><img src={{$imports.imgs[0]}} /></div>
                     </div>
                    {{else if ($value.listType == "2")}}
                    <div class="articleItem articleType2">
                            <div class="title">{{$value.title}} </div>
                            <div class="pic"><img src={{$imports.imgs[0]}} /></div>
                    </div>
                    {{else if ($value.listType == "3")}}
                    <div class="articleItem articleType3">
                            <div class="pic">
                                <img style="width: 100%" src={{$imports.imgs[0]}} />
                                <div class="title">{{$value.title}} </div>
                            </div>
                    </div>
                    {{else if ($value.listType == "4")}}
                    <div class="articleItem articleType2">
                            <div class="title">{{$value.title}} </div>
                            <div class="pic">
                                <?for(var i = 0; i < $imports.imgs.length; i++){?>
                                    <?let img = $imports.imgs[i]?>
                                    <? if(i < $imports.imgs.length-1){ ?>
                                        <img style="width: 32.7%;margin-right: 1%" src=<?= img ?> />
                                        <? } else { ?>
                                            <img style="width: 32.6%;" src=<?= img ?> />
                                        <? } ?>
                                <?}?>
                            </div>
                    </div>
                    {{/if}}
            </a>
          {{/each}}
      {{else}}
        <div class="noInfo"><svg t="1596438344748" style="vertical-align: middle;" viewBox="0 0 1194 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6839" width="50" height="50"><path d="M333.141333 699.733333c-13.653333 0-19.114667-4.778667-25.258666-12.288-5.461333-7.509333-4.778667-20.48-4.778667-29.354666V83.285333c0-14.336 4.778667-28.672 14.336-39.594666 0.682667-0.682667 1.365333-2.048 2.048-2.730667 11.605333-11.605333 27.306667-13.653333 28.672-13.653333h324.266667v97.621333c0 4.096 0 32.768 16.384 51.2l0.682666 0.682667c12.288 13.653333 29.354667 14.336 47.104 15.701333l99.669334-1.365333v113.322666l27.989333 27.306667 6.144 6.144V175.445333c0-10.922667-4.778667-21.845333-12.970667-28.672L692.906667 0H347.477333c-4.096 0-25.258667 1.365333-49.152 25.258667-19.797333 19.797333-21.162667 47.786667-21.845333 50.517333v580.949333c0 6.144 0.682667 34.133333 13.653333 51.882667 8.192 10.922667 19.797333 18.432 33.450667 21.845333 10.24 2.730667 19.114667 2.730667 23.210667 2.730667H621.226667c-17.066667-5.461333-73.045333-33.450667-73.045334-33.450667H333.141333zM699.733333 54.613333l122.88 109.226667h-79.872c-12.288 0-24.576-4.096-34.133333-11.605333l-2.730667-2.730667c-4.096-4.778667-6.144-17.066667-6.144-23.893333V54.613333z m268.288 676.522667c12.288 12.970667 12.970667 33.450667 0 46.421333-6.144 6.144-14.336 9.557333-23.210666 9.557334s-17.066667-3.413333-23.210667-9.557334l-100.352-101.034666c-36.864 27.306667-80.554667 41.642667-126.293333 41.642666-117.418667 0-212.992-96.256-212.992-215.04s95.573333-215.04 212.992-215.04S907.946667 384.341333 907.946667 503.125333c0 47.786667-15.701333 91.477333-41.642667 126.976l101.717333 101.034667zM600.746667 518.826667c11.605333 0 20.48-8.874667 20.48-20.48s-8.874667-20.48-20.48-20.48-20.48 8.874667-20.48 20.48 8.874667 20.48 20.48 20.48z m88.746666 0c11.605333 0 20.48-8.874667 20.48-20.48s-8.874667-20.48-20.48-20.48-20.48 8.874667-20.48 20.48 8.874667 20.48 20.48 20.48z m88.746667 0c11.605333 0 20.48-8.874667 20.48-20.48s-8.874667-20.48-20.48-20.48-20.48 8.874667-20.48 20.48 8.874667 20.48 20.48 20.48z m-82.602667 168.618666c101.717333 0 184.32-82.602667 184.32-184.32s-82.602667-184.32-184.32-184.32-184.32 82.602667-184.32 184.32 82.602667 184.32 184.32 184.32z" p-id="6840"></path><path d="M1150.976 615.082667c-23.210667 0-41.642667-19.114667-41.642667-43.008 1.365333-23.893333 19.797333-43.008 41.642667-43.008 23.210667 0 41.642667 19.114667 41.642667 43.008 0 24.576-17.749333 43.008-41.642667 43.008z m0-71.68c-15.018667 0-27.306667 12.970667-27.989333 29.354666 0 15.701333 12.288 28.672 27.989333 28.672s27.989333-12.970667 27.989333-29.354666-12.288-28.672-27.989333-28.672zM150.186667 305.152c-23.210667 0-41.642667-19.114667-41.642667-43.008 0.682667-23.893333 19.114667-42.325333 41.642667-42.325333 23.210667 0 41.642667 19.114667 41.642666 43.008 0 23.210667-18.432 42.325333-41.642666 42.325333z m0-71.68c-15.018667 0-27.306667 12.970667-27.989334 29.354667 0 15.701333 12.288 28.672 27.989334 28.672s27.989333-12.970667 27.989333-29.354667-12.288-28.672-27.989333-28.672z" p-id="6841"></path><path d="M6.826667 1024c-4.096 0-6.826667-2.730667-6.826667-6.826667s2.730667-6.826667 6.826667-6.826666l780.970666-1.365334c4.096 0 6.826667 2.730667 6.826667 6.826667s-2.730667 6.826667-6.826667 6.826667L6.826667 1024zM1071.786667 1024l-217.088-1.365333c-4.096 0-6.826667-3.413333-6.826667-6.826667s3.413333-6.826667 6.826667-6.826667l217.088 1.365334c4.096 0 6.826667 3.413333 6.826666 6.826666 0 4.096-3.413333 6.826667-6.826666 6.826667zM935.253333 925.696H130.389333c-4.096 0-6.826667-2.730667-6.826666-6.826667s2.730667-6.826667 6.826666-6.826666H935.253333c4.096 0 6.826667 2.730667 6.826667 6.826666s-2.730667 6.826667-6.826667 6.826667z" p-id="6842"></path></svg>
            没有找到内容</div>
      {{/if}}
    </script>
    <script id="contentTitle" type="text/html">{{title}}</script>
    <script >
    template.defaults.imports.splitImages = function (imgsStr) {
        var imgs="";
        if(imgsStr){
            imgs = imgsStr.split(',');
        }
        template.defaults.imports.imgs = imgs;
    };
    var myScroll =new BScroll(".wrapper", {
        pullUpLoad: true,
        click:true
   });
   var pageNum=1;
    $(".iconSearch").click(function(){
        $("#searchPage").show();
        $("#article").hide();
        $(".searchcon").focus();
    })
    $(".closeIconSearh").click(function(){
        $("#searchPage").hide();
        $("#article").show();
        $(".searchcon").val("");
        document.getElementById('contentTo').innerHTML = template('content', {});
        document.getElementById('contentTitleTo').innerHTML = template('contentTitle', {title:"搜索"});
    })
    function searchNews(){
        var title=$(".searchcon").val();
        $.get('/web/api/article/list', {title:title,pageSize:20}, function (result) {
            if(result.code==0){
                document.getElementById('contentTo').innerHTML = template('content', result.data);
            }
        });
        if(!title){
            title="搜索";
        }
        document.getElementById('contentTitleTo').innerHTML = template('contentTitle', {title:title});

    }
    myScroll.on('pullingUp', function(){
        pageNum++;
        var params={};
        params.pageSize=10;
        params.pageNum=pageNum;
        $.get('/web/api/article/list', params, function (result) {
            if(result.code==0){
                $("#articleItems").append(template('content', result.data));
                if(result.data.pages>=pageNum){
                    setTimeout(()=>{
                        myScroll.finishPullUp();
                        myScroll.refresh();
                    },500)
                }
            }
        });
    })
    </script>
</body>

</html>